.container {
    display: flex;
    background-color: white;
    width: 100vw;
    height: 100vw; 
    margin: auto;
}

.square4 {
    display: flex;
    border: .25pt solid black;
    width: 71.428571vw;
    height: 71.428571vw;
    margin: auto;
}

.square5 {
    display: flex;
    background-color: black;
    width: 42.857143vw;
    height: 42.857143vw;
    margin: auto;
}

.square6 {
    display: flex;
    background-color: white;
    width: 14.285714vw;
    height: 14.285714vw;
    margin: auto;
}


